@use "../../sass/utils/variables" as var;

.home-container {
    height: calc(100vh - 250px);
    font-family: 'Montserrat-Regular';
    max-width: 800px !important;
    p {
        color: var.$neutral-01;
    }
}

.btn-wine {
    background-color: var.$primary-01 !important; 
    color: white !important;
    width: 50px !important;
    height: 50px !important;
    font-size: 24px !important;
    border: none !important;
    border-radius: 50% !important;
  }
  